html{
  text-align: center;
}
  
}
h1{
  font-family: Helvetica;
  font-size: 70px;
  font-weight: bold;
  color: white;
}
li{
  font-family: Helvetica;
  font-size: 18px;
  color: white;
}
h2{
  font-family: Helvetica;
  font-size: 32px;
  font-weight: bold;
}
h3{
  font-family: Helvetica;
  font-size: 23px;
  font-weight: bold;
  }



  footer{
    font-family: Helvetica;
    font-size: 11px;
    color: white;
    background-color: dimgray;
  }
